.content {
  max-width: 1440px;
  margin: 0 auto;
  height: calc(100vh - 7rem);
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;

  display: flex;

  @media(max-width: 1368px) {
    max-width: 1120px;
  }

  img {
    border-radius: 10px 0 0 10px;
  }
}

.tabPanelContainer {
  min-width: 800px;
  max-width: 800px;
}

.containerDetail {
  @media(max-width: 1368px) {
    max-width: 700px;
  }
}

.containerItemDetail {
  color: #000;

  padding: 3rem;

  max-width: 700px;

  p {
    margin-top: 2rem;
  }
}

.containerItems {
  color: #000;

  padding: 0 3rem;
  
  > h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.contentRenderItems{
  overflow-y: auto;
  height: calc(100vh - 18rem);
  width: 800px;

  @media(max-width: 1368px) {
    max-width: 600px;
  }

  .contentContextItem + .contentContextItem {
    margin-top: 1rem;
  }
}

.contentContextItem {
  display: flex;
  flex-direction: column;

  h2 {
    background-color: #EC1D24;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;

    @media(max-width: 1368px) {
      font-size: 1rem;
    }
  }
}